/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light gray background */
}

header {
    background-color: #11111E; /* Dark blue color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a, nav ul li button {
    color: #fff;
    text-decoration: none;
    background-color: #2A6578; /* Black-green color */
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li button {
    border: none;
    cursor: pointer;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #20E9FF; /* Secondary toxic color */
}

main {
    padding: 20px;
    max-width: 900px; /* Limit the maximum width for larger screens */
    margin: 20px auto; /* Center the main content horizontally */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333; /* Dark gray color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

.carousel {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
}

.carousel-item {
    flex: none;
    margin-right: 20px;
}

.carousel-item img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #11111E;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .button, input[type="text"], input[type="number"], input[type="file"], textarea {
        width: auto;
    }

    .info-item {
        flex-direction: column;
        align-items: flex-start;
    }
}
